/*HE CREADO UN CSS PARA DARLE UN POCO DE FORMA A LA PÁGINA*/

body{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

div{
    width: 200px;
    height: 300px;
}

img{
    width: 100px;
    height: 150px;

}